form {
    margin-top: 50px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 5px;
    color: rgb(128, 128, 128);
}

.labelAndInput {
    width: 25%;
    margin-bottom: 20px;
}
select {
    width: 90%;
}
input,
select {
    padding: 5px;
}
button {
    padding: 10px 15px;
    background-color: rgb(23, 143, 255);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
input,
select,
button {
    outline: none;
}
