.card {
    background: rgb(251, 251, 251);
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.157);
    border-radius: 20px;
}
